// Place all the styles related to the Todolists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

hr{
  border-width: 3px !important;
  border-color: white !important;
}
.containe-img{
  background-color: transparent !important;
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 5%;
  margin: 0 auto;
}